<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head.ejs')%>

<body>
 
    <!-- header -->
    <%-include('./partials/header')%>
    <main>
        <!--Contenido de la página-->
        <!-- Muestra de JS en EJS (quitar los #)-->
        <%# for (let contador =0 ;contador <= 5; contador++ ){ %>
            <!--<p>hola<%#contador %> </p>-->
        <%# }%>   

        <div class="container titulo-vendidos mas-vendidos">
            <h2>Los mas vendidos</h2>
        </div>

        <!-- productos -->
        <section class="contenedor container">
            <div class="contenedor-section">
                <article class="article-product">
                    <a href="/productDetail.html"><img src="/images/berenjena.jpg" alt="berenjena1"></a>
                    <h3>Berenjena funny</h3>
                    <p>Despertador berenjena con alarma graciosa.</p>
                    <h6>$1.000</h6>
                    <span>-20%</span>
                    <button><a href="/productDetail.html">Ver producto</a></button>
                    <button><a href="/productCart.html">Carrito</a></button>
                </article>

                <article class="article-product"><a href="/productDetail.html"><img src="/images/berenjena-china.jpg" alt="berenjena1"></a>
                    <h3>Berenjena funny</h3>
                    <p>Despertador berenjena con alarma graciosa.</p>
                    <h6>$1.000</h6>
                    <span>-20%</span>
                    <button><a href="/productDetail.html">Ver producto</a></button>
                    <button><a href="/productCart.html">Carrito</a></button></article>
                <article class="article-product"><a href="/productDetail.html"><img src="/images/berenjena coraje.jpg" alt="berenjena1"></a>
                    <h3>Berenjena funny</h3>
                    <p>Despertador berenjena con alarma graciosa.</p>
                    <h6>$1.000</h6>
                    <span>-20%</span>
                    <button><a href="/productDetail.html">Ver producto</a></button>
                    <button><a href="/productCart.html">Carrito</a></button></article>
                <article class="article-product"><a href="/productDetail.html"><img src="/images/Brujo.png" alt="berenjena1"></a>
                    <h3>Berenjena funny</h3>
                    <p>Despertador berenjena con alarma graciosa.</p>
                    <h6>$1.000</h6>
                    <span>-20%</span>
                    <button><a href="/productDetail.html">Ver producto</a></button>
                    <button><a href="/productCart.html">Carrito</a></button></article>
                <article class="article-product"><a href="/productDetail.html"><img src="/images/escabeche.jpg" alt="berenjena1"></a>
                    <h3>Berenjena funny</h3>
                    <p>Despertador berenjena con alarma graciosa.</p>
                    <h6>$1.000</h6>
                    <span>-20%</span>
                    <button><a href="/productDetail.html">Ver producto</a></button>
                    <button><a href="/productCart.html">Carrito</a></button></article>
                <article class="article-product"><a href="/productDetail.html"><img src="/images/San-Jacobos-de-berenjena.jpg" alt="berenjena1"></a>
                    <h3>Berenjena funny</h3>
                    <p>Despertador berenjena con alarma graciosa.</p>
                    <h6>$1.000</h6>
                    <span>-20%</span>
                    <button><a href="/productDetail.html">Ver producto</a></button>
                    <button><a href="/productCart.html">Carrito</a></button></article>
            </div>
        </section>

    </main>
   <!-- footer -->
   <%-include('./partials/footer.ejs')%>
   <!-- bootstrap scripts -->
   <%-include('./partials/bootstrap-js.ejs')%>
</body>

</html>