<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera pagina web</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Hola mundito</h1>
        <nav>
            <ul>
                <li><a href="">Inicio</a> | </li>
                <li><a href="">Productos</a> | </li>
                <li><a href="">Nosotros</a> | </li>
                <li><a href="">Ingresar </a> | </li>
                <li><a href="">Registrate</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <article>

            </article>
            <article>

            </article>
            <article>

            </article>
        </section>
    </main>

    <footer>

    </footer>

</body>

</html>