<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 

<body>
    <!-- Cabezera -->
    <%- include('./partials/header') %>
    <main>
        <!--Contenido de la página-->
        <div class="article-product logeo">
            holis
        </div>
    </main>
    <!-- Pie de la página -->
    <%- include('./partials/footer') %> 
    <%- include('/partials/bootstrap-js') %> 
</body>

</html>