<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head.ejs')%>

<body>
    <!-- Cabezera -->
    <%-include('./partials/header.ejs')%>
    <main>
        <!--Contenido de la página-->
        <p>comienzo del main</p>
    </main>
    <!-- Pie de la página -->
    <%-include('./partials/footer.ejs')%>
    <!-- Elementos JS -->
    <%-include('./partials/bootstrap-js.ejs')%>
</body>

</html>