*{
    margin: 0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
  background-color: #252525;
}

header{
  height: auto;   /* height es el alto */
  width: 100%;       /* Ancho del header */
  background-color: #181818;
  display: flex;   /* se hace flexible para poder modificarlo como quieras*/
  justify-content: space-between;      /* le da una ubicacion ordenada a los elementos que esten dentro */
  align-items: center;          /*centra los elementos*/
  text-transform: uppercase;
  box-shadow: 0px 0px 18px 0px rgba(190, 0, 207, 0.7);
}

header:hover{
  box-shadow: 0px 0px 18px 0px rgba(0, 179, 54, 0.9)
}

.logo{
  height: 5em;
  width: auto;
}

.titulo a, .navegacion ul{
  display: flex;
  align-items: center;
  
}

ul li{
  font-size: .8em;  
  list-style: none;  
}
a:hover{
  color: crimson;

}

.navegacion ul{
  margin-right: 1em;
  font-size: 1.3em
}

.navegacion ul li{
  border-right: 1px solid #07c900;
}

.navegacion ul li a{
  font-family: 'Roboto', sans-serif;
  padding: 0.3em;
}

a{
  text-decoration: none;       /* sacamos subrayado de las palabras linkeadas*/

}

h1{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.4em;
}

main{
  height: 25em;
}

footer{
  height: auto;
  background-color: #181818;
  /*flex-direction: column;*/
  /*justify-content: center;    justify mueve vertical */
  align-items:flex-start;        /* y align horizontal */
  font-size: 1.3em;
}

.piepagina{
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding: 1.5em 1em;
}

.piepagina h4{
    color: whitesmoke
}

.piepagina ul{
    padding: 0;
}

.buscador{
  width: 23em;
  height: auto;
  border-radius: .5em 0 0 .5em;
  padding-left: .5em

}

.formsearch{
  height:2em;
  display:flex;
  align-items:center;
  border-color: transparent;
}

.botonbuscar{
  height:2.31em;
  padding: 0 .8em;
  background-color: blueviolet;
  color:whitesmoke;
  border-radius: 0 .5em .5em 0;
  border-color: transparent;
}

.redes ul{
  display:flex;
  margin: .5em 0;
  padding-inline-start: 0px;
}

.redes ul li a i{
  margin-right:.3em;
  font-size: 1.5em;
}


