*{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
  height: auto;   /* height es el alto */
  width: 100%;       /* Ancho del header */
  background-color: #181818;
  display: flex;   /* se hace flexible para poder modificarlo como quieras*/
  justify-content: space-between;      /* le da una ubicacion ordenada a los elementos que esten dentro */
  align-items: center;          /*centra los elementos*/
  text-transform: uppercase;
  box-shadow: black ;
}

.logo{
  height: 5em;
  width: auto;
}

.titulo a, .navegacion ul{
  display: flex;
  align-items: center;
  
}

ul li{
  font-size: .8em;  
  list-style: none;  
}
a:hover{
  color: crimson;

}

.navegacion ul{
  margin: 0 1em;
  font-size: 1.1em
}
.navegacion ul li a{
  font-family: 'Roboto', sans-serif;
  padding: 0.3em;
}

a{
  text-decoration: none;       /* sacamos subrayado de las palabras linkeadas*/

}

h1{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.5em;
}

main{
  height: 35em;
}

footer{
  height: auto;
  background-color: #181818;
  /*flex-direction: column;*/
  /*justify-content: center;    justify mueve vertical */
  align-items:flex-start;        /* y align horizontal */
  font-size: 1.5em;
     

}

.piepagina{
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding: 1.5em 1em;
}

.piepagina h4{
    color: whitesmoke
}

.piepagina ul{
    padding: 0;
}