@media (max-width:425px){
  h1{
    font-size:.7em
  }

  .logo{
    height: 2.5em;
  }

  .buscador{
    width:8em
  }
 
}

@media (min-width:320px) and (max-width:425px){
  .buscador{
    width:5em;
  }
}

@media (min-width:1024px){
  .buscador{
    width: 15em;
  }
}


/*Modificacion del titulo*/
.mas-vendidos h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
  margin:0
}

.titulo-vendidos{
  color: blueviolet;
  background-color: #181818;
  border-radius: .3em;
  padding: .2em 0;
  width: 50%;
  display: flex;
  margin: 1em 0 1em 25%;
  justify-content: center;
  align-items: center;
}

main{
  justify-content: center;
}

/*imagen de articulo*/
.article-product a img{
  width: 100%;
}

.contenedor{
  border-radius: 0.2em;
  background-color: #fff;
  border: #e2e2e2 1px solid;
  padding: 1em;
  margin-bottom: 1em;
}

.contenedor-section {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: .5em;
}
  
/*articulo*/
.article-product{
  height: 25em;
  padding: .2em;
  background-color: #181818;
  border-radius: .3em;
  box-shadow: 0px 0px 18px 0px rgba(190, 0, 207, 0.7);
  margin: auto;
}


.article-product:last-child{
  margin-right:0
}

.article-product a img{
  height:10em
}

.article-product:hover{
  box-shadow: 0px 0px 18px 0px rgba(0, 179, 54, 0.9);
}

.contenedor-articulo {
  display: flex;
  justify-content: space-between;
}
